<h1>Components</h1>

<p>Are the building block of any angular app. You define your view and code behind on them.</p>
<p>You can define a component by adding a ts file to the shared module</p>
<h2>Component Configuration</h2>
<ul>
    <li>templateUrl: Where is the view html file is located</li>
    <li>selector: the html tag name for the component</li>
    <li>styles: The css for th ecomponent</li>
    <li>styleUrls: the css file for the component</li>
</ul>
<br/>
<h2>Component Event Life Cycle</h2>
<p>It's where you can hook up to the event life cycles of the components</p>
<ul>
    <li>ngOnInit: on calling the component</li>
    <li>ngOnDestroy: when the component is destroyed</li>
    <li>ngAfterViewInit: after the view has been initialized</li>
</ul>
<h2>Component Reference</h2>
<p>You can call any component using it's selector</p>
<databinding></databinding>
